ENCRYPTION_KEY=
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/domoreai?schema=public
PG_CONNECTION=postgresql://postgres:postgres@postgres:5432/domoreai
REDIS_URL=redis://redis:6379
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=domoreai
