# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
**/node_modules

# Build artifacts
/dist
/.turbo

# Logs
.log*

# Local Environment Variables
# Never commit .env files! They contain secrets.
.env
.env.local
.env.*

# IDE and Editor directories
.idea
# Ignore the .vscode folder by default...
.vscode/
.git/.trash
# ...but DO commit the following files inside it.
!.vscode/settings.json
!.vscode/extensions.json
# OS-specific files
.DS_Store
Thumbs.db

# Ignore generated JavaScript and declaration files in source folders
**/*.js
**/*.d.ts
**/*.d.ts.map
*.tsbuildinfo