services:
  # --- Application Services ---

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_started
      lootbox:
        condition: service_healthy
    networks:
      - app-network
    environment:
      LOOTBOX_URL: 'http://lootbox:3000'

  proxy:
    build:
      context: .
      dockerfile: apps/proxy/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - registry
    networks:
      - app-network

  registry:
    build:
      context: .
      dockerfile: apps/registry/Dockerfile
    ports:
      - "8080:8080"
    networks:
      - app-network

  ui:
    build:
      context: .
      dockerfile: apps/ui/Dockerfile
    ports:
      - "3000:80" # Expose Nginx on port 3000 on the host
    environment:
      - VITE_API_URL=http://api:4000/trpc
    depends_on:
      - api
    networks:
      - app-network

  lootbox:
    build: ./apps/lootbox
    networks:
      - app-network
    ports:
      - "3000:3000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  # --- Backend Dependencies ---

  postgres:
    image: postgres:15-alpine
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network

volumes:
  postgres_data:
  redis_data:

networks:
  app-network:
    driver: bridge
